<header class="header">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="search-btn">
      <span class="label">Search</span>
      <span
        class="spinner spinner-grow spinner-grow-sm is-hidden"
        role="status"
      ></span>
      <svg class="search-icon" width="15" height="15">
        <use href="../src/images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</header>
